body {
    color: white;
    font-family: Arial, sans-serif;
    background-color: #004D7A;
}

header nav {
    padding: 20px;
}

.destination-detail {
    padding: 20px;
}

.destination-detail h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.content-wrapper {
    display: flex;
    gap: 20px;
}

.destination-image {
    max-width: 50%;
    object-fit: cover;
}

.text-content {
    padding: 20px;
    flex: 1;
}

.rating-description,
.booking-details {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
}

main a {
    padding: 10px 15px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: #0c5a8e;
}

main a:hover {
    background-color: white;
    color: #333;
}

@media (max-width: 600px) {

    .content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px; 
        align-items: center; 
    }

    .destination-image, .text-content {
        width: 100%;
    }

    .text-content {
        padding: 20px 0;
    }

    .text-content, .rating-description, .booking-details {
        display: block; 
    }
}